<%= render "shared/partial" %>
<div class= "bg-success-subtle">
  <h2 class ="text-center">家計簿一覧</h2>
  <%= link_to "家計簿の新規作成", new_budgetbook_path, class:"btn btn-primary m-2" %>
  <% @budgetbooks.each do |budgetbook| %>
  <table class="table mb-4">
    <thead>
      <tr>
        <th class="table-primary">年</th>
        <td><%= budgetbook.year %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <th class="table-primary">月</th>
        <td><%= budgetbook.month %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <th class="table-primary">世帯人数</th>
        <td><%= budgetbook.household_size %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
      <th class="table-primary">住居形態</th>
        <td><%= budgetbook.housing_type %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <th class="table-primary">年収</th>
        <td><%= number_to_currency(budgetbook.annual_income, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <th class="table-primary">月収</th>
        <td><%= number_to_currency(budgetbook.monthly_income, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <th class="table-primary" scope="col">カテゴリー</th>
        <th class="table-danger" scope="col">支出</th>
        <th class="table-success" scope="col">支出(全国平均)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="table-primary" scope="row">食費</th>
        <td><%= number_to_currency(budgetbook.food_expenses, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.householdsize['Food'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">住居費<br>(住宅ローン<br>支払いは除く)</th>
        <td><%= number_to_currency(budgetbook.housing_expense, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.housingtype['House'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">水道光熱費</th>
        <td><%= number_to_currency(budgetbook.utility_bills, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.householdsize['Utilities'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">家具・家事用品</th>
        <td><%= number_to_currency(budgetbook.furniture_cost, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.average_expenses['Furnitures'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">被服・履物</th>
        <td><%= number_to_currency(budgetbook.clothing_expenses, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.householdsize['Clothings'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">医療費</th>
        <td><%= number_to_currency(budgetbook.medical_expenses, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.average_expenses['Medical'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">交通費</th>
        <td><%= number_to_currency(budgetbook.transportation_expenses, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.average_expenses['Transportation'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">通信費</th>
        <td><%= number_to_currency(budgetbook.communication_expenses, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.householdsize['Communication'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">教育費</th>
        <td><%= number_to_currency(budgetbook.education_cost, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.householdsize['Education'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">教養娯楽費</th>
        <td><%= number_to_currency(budgetbook.educational_and_entertainment_expenses, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.average_expenses['Educational_And_Entertainment'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">交際費</th>
        <td><%= number_to_currency(budgetbook.entertainment_expenses, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td><%= number_to_currency(budgetbook.average_expenses['Entertainment'], :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">貯金</th>
        <td><%= number_to_currency(budgetbook.savings, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">投資</th>
        <td><%= number_to_currency(budgetbook.investments, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <th class="table-primary" scope="row">その他</th>
        <td><%= number_to_currency(budgetbook.others, :format => "%u%n", :unit => "￥", strip_insignificant_zeros: true) %></td>
        <td class="table-dark"></td>
      </tr>
      <tr>
        <td class="table-danger"><%= link_to "編集", [:edit, budgetbook], class: "btn btn-primary" %></td>
        <td class="table-danger"><%= budgetbook.year %>年<%= budgetbook.month %>月の家計簿を<%= link_to "削除",
        budgetbook, data: { turbo_method: :delete, turbo_confirm: "#{budgetbook.year}年#{budgetbook.month}月の家計簿を本当に削除しますか?(復元はできません)" }, class: "btn btn-danger" %></td>
        <td class="table-dark"></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
