<header class="c-header c-hamburger-menu">
  <a href="/" class="c-header__logo">家計簿
  </a>
  <input type="checkbox" name="hamburger" id="hamburger" class="c-hamburger-menu__input"/>
  <label for="hamburger" class="c-hamburger-menu__bg">
  </label>
  <ul class="c-header__list c-hamburger-menu__list">
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">家計簿作成</a>
    </li>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">目標金額を貯める</a>
    </li>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">節約のコツ集</a>
    </li>
    <% if user_signed_in? %>
      <li class="c-header__list-item">
        <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "c-header__list-link" %>
      </li class="c-header__list-item">
      <li>
        <%= link_to "アカウント設定", users_show_path, class: "c-header__list-link" %>
      </li>
    <% else %>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: "c-header__list-link" %>
      </li>
      <li class="c-header__list-item">
        <%= link_to "新規登録", new_user_registration_path, class: "c-header__list-link" %>
      </li>
      <li class="c-header__list-item"> 
        <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { "turbo-method": :post }, class: "c-header__list-link" %>
      </li>
    <% end %>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">お問い合わせ</a>
    </li>
  </ul>
  <label for="hamburger" class="c-hamburger-menu__button">
    <span class="c-hamburger-menu__button-mark"></span>
    <span class="c-hamburger-menu__button-mark"></span>
    <span class="c-hamburger-menu__button-mark"></span>
  </label>
</header>
