<%= render "shared/partial" %>
<div class= "bg-success-subtle">
  <h2 class="text-center">自分の投稿一覧</h2>
  <%= link_to "投稿一覧", posts_path, class:"btn btn-primary m-2" %>
  <%= link_to "新規投稿", new_post_path, class:"btn btn-danger m-2" %>
  <div class="w-75 m-auto">
    <% @myposts.each do |mypost| %>
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">カテゴリー</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= mypost.category %></h6>
        <p class="card-text"><%= mypost.body %></p>
        <%= link_to "編集", [:edit, mypost], class:"btn btn-primary m-2" %>
        <%= link_to "削除", mypost, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか?(復元はできません)" }, class:"btn btn-danger m-2" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
