<%= render "shared/partial" %>
<div class= "bg-success-subtle">
  <h2 class="text-center">新規投稿</h1>
  <div class="w-75 m-auto">
    <%= render "shared/posts/postrule" %>
    <%= form_with model: @post, local: true do |f| %>
    <div class="card m-3">
      <div class="card-body m-4">
        <div><%= f.label :カテゴリー %><br><%= f.select :category, [['食費'], ['住居費'], ['水道光熱費'], ['家具・家事用品費'], ['被服・履物費'], ['交通費'], ['通信費'], ['教養娯楽費'], ['交際費'], ['その他の支出']] %></div>
        <p><%= f.label :本文 %><br><%= f.text_area :body, class: "form-control", rows: 3 %></p>
        <% if @post.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% @post.errors[:body].each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div><%= f.submit "新規投稿", class:"btn btn-primary m-2 w-50" %></div>
        <div><%= link_to "戻る", :back, class:"btn btn-primary m-2 w-50" %></div>
      </div>
      <%= f.hidden_field :user_id, value: @user.id %>
    </div>
    <% end %>
  </div>
</div>
